
* {
   box-sizing: border-box;
   margin: 5px;
   padding: 0px;
}

html {

}

nav {
   display: flex;
   justify-content: space-between;
   align-content: center;
   margin-bottom: 0;
   background-color: #f2f2f2;
}

img#apps {
   display: block;
   margin-top: 0;
   margin-bottom: 0;
   height: 50%;
   align-content: center;
}

main#middle {
   display: flex;
   flex-direction: column;
   align-items: center;
   align-content: center;
}

div#g_logo {
   height: 233px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.search_box {
   width: 487px;
   height: 34px;
   border-radius: 25px;
   border: 1px solid #dfe1e5;
}

.s_button {
   width: 127.31px;
   height: 36px;
   background-color: #f8f9fa;
   border-radius: 7px;
   border-color: transparent;
   transition-duration: 0.01;
}

.s_button:hover {
   border: 1px solid #dfe1e5;
}

.l_button {
   width: 142.5px;
   height: 36px;
   background-color: #f8f9fa;
   border-radius: 7px;
   border-color: transparent;
   transition-duration: 0.01;
}

.l_button:hover {
   border: 1px solid #dfe1e5;
}

img {
   margin-top: 89px;
}

ul {
   list-style-type: none;
   display: flex;
}

li {
   font-family: arial, sans-serif;
   font-weight: 500;
   font-size: 13px;
   color: #000;
}

div#foot_mid {
   justify-content: center;
}

img#green_leaf {
   margin-top: 0;
   margin-bottom: 0;
   height: 50%;

}

footer {
   position: absolute;
   bottom: 0;
   width: 100%;
}

nav#footer_nav {
   border: 2px solid #dfe1e5;
}

main {
   background-color: white;
}